{% extends "layout.html" %} 
{% load crispy_forms_tags %} 
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<div class="container">
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %} 
        <p>siz {{sifaris.name}} adlı faylı silməyə əminsiz?</p>
        <button class="btn btn-primary" type="submit">Təsdiqlə</button>
    </form>
</div>

{% endblock body %}
<p>siz {{sifaris.name}} silməyə əminsiz?</p>