<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{formupdate}}
<br>
    {{userinformation.email}}
    {{userinformation.username}}
    {{userinformation.first_name}}
    {{userinformation.last_name}}
    {{userinformation.date_joined}}
    {{userinformation.is_active}}
    <br>
    {% for allow in allowedinformation %}
    {{allow.file}}
    {{allow.sender}}
    {{allow.receiver}}

    {% endfor %}
    <br>
    {% for allor in allowerinformation %}
    {{allor.file}}
    {{allor.sender}}
    {{allor.receiver}}

    {% endfor %}
</body>
</html>