{% extends "layout.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block head %}
<title>Update page</title>
{% endblock head %}
{% block body %}
    {% for message in messages %}
    {{ message}}
    {% endfor %}

<link rel="stylesheet" href="{% static 'index.css' %}">
<div class='container'>
<form action="" method='post' enctype='multipart/form-data'>

    {% csrf_token %}
    {{formupdate1|crispy}}
    <button type="submit" class="btn btn-danger">Təsdiqlə</button>



    </form>
</div>

{% endblock body %}

